ul {
    list-style-type: none;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 5px;
}

.deleteTask {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}