ul {
    list-style-type: none;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

li.checked {
    color: #555555;
    text-decoration: line-through;
}

li.checked::before {
    background-image: url(images/checked.png);
}

li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

li span:hover {
    background: #edeef0;
}
.deleteTask {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

* {
    font-family: 'Poppins', sans-serif;
}